<div class="container">
  <form action="/talks/<%=@talk.id%>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <h4> Name your talk. </h4>
    <input maxlength="40" cols="40" type="text" name="title" value="<%=@talk.title %>">
    <br>

    <h4>Give us a little abstract.</h4>
    <textarea cols="40" rows="5" name="description"><%=@talk.description %>
    </textarea>
    <br>

    <h4>When will you be giving your talk?</h4>
    <input type="date" name="dateof" value= "<%= @talk.event_time.to_s[0..9] %>" min="<%=Time.now.to_s[0..9] %>">
    <input type="time" name="timeof" value= "<%= @talk.event_time.to_s[11..15] %>" min="09:00" max="17:00">

    <h4>How many guests will make it worth your time?</h4>
    <input type="number" name="min_rsvp" value="<%=@talk.min_rsvp%>" value="0" min="1" max="65">

    <h4> Tag your talks up! </h4>
    <input type="text" name="tags" value="<%=@tag_names%>">
    <br><br>
    <input type="submit" value="Edit Your Talk!">
  </form>
</div>
</div>
