<div class="container">
  <form action="/talk/<%=@talk.id%>" method="post">

    <h4> Edit talk name. </h4>
    <input cols="40" type="text" name="title" placeholder="<%=@talk.title%>">
    <br>

    <h4>Edit your talk abstract.</h4>
     <textarea cols="40" rows="5" name="description" placeholder="<%=@talk.description%>">GitHub is a powerful tool for ensuring strong version control.
     </textarea>
    <br>

    <h4>Reschedule your talk</h4>
     <b>Year</b>
     <select name="year">
     <% years.each do |year| %>
      <option value="<%=actual_year%>" selected> <%=actual_year%> </option>
     <% end %>
     </select>

    <b> Month </b>
    <select name="month">
    <% months.each do |month| %>
    <option value="<%=actual_month%>" selected> <%=actual_month%> </option>
    <% end %>
    </select>

    <b> Day </b>
     <select name="day">
     <% days.each do |day| %>
      <option value="<%=actual_day%>" selected> <%=actual_day %> </option>
     <% end %>
     </select>

     <b> Hour (EST) </b>
     <select name = "hour">
     <% hours.each do |hour| %>
      <option value=<%=hour%>> 6 </option>
     <% end %>
     </select>

     <b> Minute </b>
     <select name="minute">
     <% minutes.each do |minute| %>
      <option value=<%=minute%> selected> 00 </option>
     <% end %>
     </select>

     <b> AM/PM </b>
     <select name="am_pm">
     <% am_pm.each do |zone| %>
      <option value=<%=zone%> selected> <%=am_pm[1]%> </option>
     <% end %>
     </select>

    <h4> Tag your talks up! </h4>
    <input type="text" name="tags" placeholder="e.g. #GitHub #VersionControl">
    <br><br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Submit Your Talk!">
  </form>
</div>
</div>
