<div class="own_talk">
  <a class= "button orange active" href="/users/<%=current_user.id%>/new_talk"> Give your own talk! </a>
</div>

<div class="container">


  <h2>You are viewing talks by <%= @user.first_name + " " + @user.last_name%> </h2>

  <image class="profile" src="http://www.gravatar.com/avatar/<%=@email%>" >

  <ul class="imglist">
  <% @talks.each do |talk| %>
  <li>
    <a href="/talks/<%=talk.id%>"><%= talk.title.upcase%></a> by <a href="/users/<%=talk.speaker.id%>"><%=talk.speaker.first_name + " " + talk.speaker.last_name %></a>
  </li><br>
  <%end%>
</div>
